@charset "UTF-8";

.not-logged { 
	padding:20px;
	background:#333;
	display:inline-block; 
	border-radius:8px; 
}

body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #333;
    color: white;
}

tr:hover { background: #fafafa; }

button, input[type=submit] {
    background: #333;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type=submit]:hover {
    background: #555;
}

.danger {
    background: #b30000;
}
.danger:hover {
    background: #e60000;
}

.form-box {
    margin-top: 30px;
    padding: 20px;
    background: #eee;
    border-radius: 8px;
}

.form-box input, .form-box textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.edit-form {
    background: #fff7d6;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}