@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #E2EAFE;
    font-family: "rubik";
}

.algnPosts {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loading {
    width: 300px;
    height: 21rem;
    margin: 10px;
}

.card {
    width: 300px;
    border-radius: 7px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 21rem;
    background-color: #8AACFA;
}

.date {
	font-size: 14px;
	margin-top: 1rem;
	margin-left: 1rem;
	color: #F5FEFC;
}

.name {
    height: 120px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #F5FEFC;
    margin-left: 1rem;
    font-family: "anta";
}

.text {
	margin-top: 2rem;
	height: 69px;
	color: #F5FEFC;
	margin-left: 1rem;
}

.algnActions {
    display: flex;
    justify-content: flex-end;
}

.button {
	min-width: 7rem;
	color: #58FF9C;
	font-weight: bold;
	height: 2rem;
	font-size: 18px;
	background-color: inherit;
	border: none;
	padding-bottom: 45px;
	cursor: pointer;
}