@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    background-color: #48B6FA;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#menu ul li a:hover {
    background-color: #5FEBF5;
    box-shadow: 0 0 15px black;
    border: 1px solid black;
}