@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    background-color: #E2EAFE;
}

.blogSection {
    background-color: #F5FEFC;
    border-radius: 25px;
    box-shadow: 0 5px 30px 0;
    padding: 10px;
    width: 75%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.backBtn {
    background-color: #ACFFCD;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 5vw;
    cursor: pointer;
    font-family: "rubik"
}

.backBtn:hover {
    background-color: #58FF9C;
    transition: 500ms;
}

.title {
	font-family: 'anta';
}

.subtitle {
	text-align: center;
	color: #BAACFA;
	font-family: 'rubik';
	font-size: 22px;
	margin-top: 2rem;
}

.date {
	font-family: "rubik";
}

.txtBdy {
	padding: 10%;
	text-align: justify;
	font-family: "rubik";
}