<!DOCTYPE html>
<html lang = "pt-br">
	<head>
		<link rel = "stylesheet" href = "../styles/blogs.css" />
		<meta charset="UTF-8">
		<title>ONG</title>
	</head>
	<body>
		
		<main class = "algnPosts" id = "mainSection">      
<!-- 		    <article class = "card" id = "card" > -->
<!-- 	            <p class = "date"></p> -->
	
<!-- 	            <main> -->
<!-- 	                <h1 class = "name"> </h1> -->
<!-- 	                <p class = "text" ></p> -->
<!-- 	            </main> -->
	
<!-- 	            <footer class = 'algnActions'> -->
<!-- 	                <button class = "button" onclick = "console.log('click')" >Veja mais</button> -->
<!-- 	            </footer> -->
<!-- 	        </article> -->
		</main>
		
		<script src = "../scripts/blogs.js"></script>
	</body>
</html>