<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="../styles/users.css">
</head>
<body>
    <h1>Cadastrar</h1><br>
    <form method="post" action="../../api/cadastro.jsp">
    Login: <input type="text" name="name" required><br>
    Senha: <input type="password" name="password" required><br>
    <input type="submit" value = "Realizar Cadastro">
    </form>
    <br>
    <a href="./index.jsp">Faça o Login</a>

</body>
</html>