<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Contato</title>
    <link rel="stylesheet" href="../styles/stylec.css"/>
    <link rel="stylesheet" href="../styles/rodape.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
</head>
<body>
    <nav id="menu">
        <ul type="none">
            <li><a href="index.html">HOME</a></li>
            <li><a href="sobre.html">SOBRE</a></li>
            <li><a href="blogs.jsp">BLOG</a></li>
            <li><a href="contato.html">CONTATO</a></li>
        </ul>
    </nav>

    <header>
        <h1 class="titulo">CONTATO</h1>
        <h2>Como deseja entrar em contato?</h2>
    </header><br/>

    <main>
        <section id="contato">
            <div>
                <h1 class="titulo-contato" id="parteum">E-mail</h1>
                <p class="texto">Mande um e-mail</p><br/>
                <p class="texto"><a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWsmHcFktGpdWtpkWcdjBWRMGWmWsZKpKFzQjkKznCHZfZCdQGfRvdJkwSPJrkTSDcGMLNBHL">ongdasofia2050@hotmail.com</a></p>
            </div>
            <div>
                <h1 class="titulo-contato" id="partedois">Telefone</h1>
                <p class="texto">Ligue quando quiser</p><br/>
                <p>(11) 96733-4829 / (11) 4378-0519</p>
            </div>
            <div>
                <h1 class="titulo-contato" id="partetres">Endereço</h1>
                <p class="texto">Venha nos visitar</p><br/>
                <p>Rua Presidente Dutra, Guarulhos, SP, Brasil Nº 120</p>
            </div>
            <div>
                <img id="imagem" src="../imagens/local.png" alt="Local">
            </div>
        </section>
    </main>

    <footer class = "footer">
        <div class="footer-container">
      
          <div class="footer-section">
            <h3>Projetos Sociais:</h3>
            
            <ul>
		      <li>Farmácia Comunitária</li>
		      <li>Viva Leite</li>
		      <li>Educacional</li>
		      <li>Cursos Preparatórios</li>
		      <li>Social</li>
		    </ul>
          
          </div>
      
          <div class="footer-center">
            <img src="../imagens/rodape.jpg" alt="Logo da ONG" class="footer-img">
            <h2 class="footer-title">ONG LAR FELIZ DA SOFIA</h2>
          </div>
      
          <div class="footer-section">
            <h3>Contato</h3>
            <p>Email:ongdasofia2050@hotmail.com</p>
            <p>Telefone: (11)4378-0519</p>
            <p>Endereço: Rua Presidente Dutra n°120  
                Vila São Gabriel - SP</p>
          </div>
      
        </div>
      
        <div class="footer-copy">
          <p>© 2025 - Todos os direitos reservados.</p>
        </div>
      </footer>
</body>
</html>